<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<div>
      <h1><%= @relation.item.name %></h1>
      <%= image_tag( @relation.item.avatar.url(:medium) ) %>
			<h2>Ownership Authentication</h2>
			<p>
      <strong>
        Possible owner: 
        <%= @relation.user.name %> (<%= @relation.user.email %>)
      </strong>
      </p>  
      <strong>
        <p>
          Questions created 
          (<%= @current_questions_length.to_s + "/" + @max_questions_limit.to_s %>)
        </p>
      </strong>
      <hr>
      <% if @relation.item.questions.any? %>
        <% @relation.item.questions.each do |question| %>
        <div>
          <h3>Q: <%= question.name %></h3>
          <p>Answer: <%= question.answer %></p>
        </div>
        <hr>
        <% end %>
      <% else %>
        <p>There are no questions created to validate the ownership of this item.</p>
      <% end %>
      <% if @current_questions_length < @max_questions_limit %>
        <%= render :partial => '/relations/add_question_form' %>
      <% else %>
        <p>Maximum limit of questions already reached.</p>
      <% end %>
      <%= link_to "Back to items", items_path %>
		</div>
	</div>
</div>