<div class="list-group">
  <% if @user_found_items.any? %>
    <% @user_found_items.each do |item| %>
      <a href=<%= item_path(item) %> class="list-group-item">
      <h4 class="list-group-item-heading">
        <b><span class="item-name"><%= item.name %></span></b>
      </h4>
        <div class="media">
          <div class="media-left">
            <img class="media-object object-image" src=<%=item.avatar.url(:thumb)%> alt="...">
          </div>
          <div class="media-body">
            <p>
              Reported 
              <b><%= item.state %></b> in: <b><%= item.created_at.strftime("%m/%d/%Y at %I:%M%p") %></b>
            </p>
          </div>
        </div>
      </a>
    <% end %>
  <% else %>
    <p>You haven't reported any found items.</p>
  <% end %>
</div>