<% if relation.item.owners.first.user.id == current_user.id %>

	<p>
    <b><%= relation.item.name %></b> you reported 
    <b>lost </b> on
    <b><%= relation.item.founders.first.created_at.strftime("%m/%d/%Y at %I:%M%p") %></b>
  </p>
  <hr>
  <p>Apparently its been found by:</p>
  <p><b><%= relation.item.founders.first.user.name %></b></p>
  
  <% if relation.item.questions.any? %>
  <h3>There are questions for you to validate your ownership...</h3>
    <% relation.item.questions.each_with_index do |question, i| %>
      <div>

        <p>Q<%= i + 1 %>: <b><%= question.name %></b></p>


        <% if question.already_answerd?(current_user.id) %>

        <p>You already have answered "
        <b><%= question.get_answer_by_user_id(current_user.id) %>"</b> 
        for that question.</p>


	        <% if question.is_answer_validated?(current_user.id) == true %>
	        <p><b><%= relation.item.founders.first.user.name %> already APPROVED your answer.</b></p> 
	        <% elsif question.is_answer_validated?(current_user.id) == false %>
	        <p><b><%= relation.item.founders.first.user.name %> already DISAPPROVED your answer.</b></p> 
	        <% elsif question.is_answer_validated?(current_user.id) == nil %>
					<p><b><%= relation.item.founders.first.user.name %></b> has not yet validated your answer.</p> 
	        <% end %>
        <% else %>
	        <%= form_tag item_answer_path(relation.item, relation) do %>
	        <div class="form-group">
	          <%= label :answer, "Answer..." %>
	          <%= text_area_tag :answer, nil, class: "form-control" %>
	        </div>
	        <%= hidden_field_tag :question_id, question.id %>
	        <%= submit_tag "Answer question", class: "btn btn-default" %>
        	<% end %>
        <% end %>
      </div>
      <hr>
    <% end %>

    <% if relation.item.questions.length == 3 %>
			
			<%
			if Answer.validate_all_by_userid_and_relationid(
				 relation.item.owners.first.user.id,
				 relation.item.owners.first.user.answers.first.relation_id)
				%>

			<%#= submit_tag "Claim Item!", class: "btn btn-default" %>

			<p>
				<b><%= relation.item.founders.first.user.name %></b> validated all your answers. It appears that you recovered <b><%= relation.item.name %>!</b><br><br>To colect your belongings contact: 
				<b><%= relation.item.founders.first.user.email %></b>
			</p>
			<% else %>
			<p>
				Unfortunately <b><%= relation.item.founders.first.user.name %></b> (email: <b><%= relation.item.founders.first.user.email %></b>) has not validated all your answers. It appears that <b><%= relation.item.name %></b> does not belong to you.   
			</p>
			<% end %>	

    <% else %>
    	<p>
    		There are still pending questions for <%= relation.item.founders.first.user.name %> to formulate.
			</p>
    <% end %>
    

  <% else %>
  <hr>
  <p><b>There are no questions yet</b> to validate this item ownership.</p>
  <% end %>


<% else %>

	<p>
    You've found <b><%= relation.item.name %></b> on
    <%= relation.item.founders.first.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
  </p>
  <% if relation.item.questions.length < 3 %>
		<p>
	  	Ask at the most three (3) precise things for <b><%= relation.item.owners.first.user.name %></b> to validate the ownership of the object.
	  </p>
  <%= link_to "Create questions", item_relation_path(relation.item.id,
		Relation.get_by_userid_and_itemid(relation.item.owners.first.user.id, relation.item.id)[0])
  %>
	<% else %>
		<p><b>Questions already created for ownership validation.  Limit reached (3/3)</b></p>
	<% end %>

	<hr>	

	<% relation.item.owners.first.user.answers.each do |answer| %>

	  <p>Q: <b><%= answer.question.name %></b></p>
	  <p><b><%= answer.user.name %></b> answered: <b><%= answer.answer %></b></p>

	  <% if answer.is_validated.nil? %>
		  <%= form_tag( item_question_path(relation.item.id, answer.question.id), method: :patch) do %>
		  <%= hidden_field_tag :answer_id, answer.id %>
		  <%= hidden_field_tag :is_validated, true %>
		  <%= submit_tag "Valid Answer", class: "btn btn-default" %>
		  <% end %>

		  <%= 
		  	form_tag( item_question_path(relation.item.id, answer.question.id), method: :patch) do 
		  %>

		  <%= hidden_field_tag :answer_id, answer.id %>
		  <%= hidden_field_tag :is_validated, false %>
		  <%= submit_tag "Invalid Answer", class: "btn btn-default" %>
	  	<% end %>

		<% else %>
			<% if answer.is_validated %>
				<p>You've already <b>APPROVED</b> this answer.</p>
			<% else %>		
				<p>You've already checked this answer as <b>WRONG</b>.</p>
			<% end %>		
		<% end %>
		<hr>




		<% if relation.item.questions.length == 3 %>
			
			<%
			if Answer.validate_all_by_userid_and_relationid(
				 relation.item.owners.first.user.id,
				 relation.item.owners.first.user.answers.first.relation_id)
				%>

			<%#= submit_tag "Claim Item!", class: "btn btn-default" %>

			<p>
				<b> You have validated all <%= relation.item.owners.first.user.name %> answers. It appears that you encountered <%= relation.item.name %>!</b> owner.<br><br><b>Contact:</b><%= relation.item.owners.first.user.email %>
			</p>
			<% else %>
			<p>
				You have invalidated answers by <b><%= relation.item.founders.first.user.name %></b> (email: <b><%= relation.item.founders.first.user.email %></b>) It appears that <b><%= relation.item.name %></b> does not yet have a correct owner.
			</p>
			<% end %>	

    <% else %>
    	<p>
    		There are still pending questions for <%= relation.item.founders.first.user.name %> to formulate.
			</p>
    <% end %>





	<% end %>
<% end %>









