<% if relation.item.founders.first.user.id == current_user.id %>

	<p>
    <b><%= relation.item.name %></b> you reported 
    <b>found </b> on
    <b><%= relation.item.founders.first.created_at.strftime("%m/%d/%Y at %I:%M%p") %></b>
  </p>
  <hr>

  <% relation.item.owners.first.user.answers.each do |answer| %>

	  <p>Question: <b><%= answer.question.name %></b></p>
	  <p>Correct Answer: <b><%= answer.question.answer %></b></p>
	  <p>Respuesta de <b><%= answer.user.name %></b>: <b><%= answer.answer %></b></p>

	  <% if answer.is_validated.nil? %>
		  <%= form_tag( item_question_path(relation.item.id, answer.question.id), method: :patch) do %>
		  <%= hidden_field_tag :answer_id, answer.id %>
		  <%= hidden_field_tag :is_validated, true %>
		  <%= submit_tag "Valid Answer", class: "btn btn-default" %>
		  <% end %>

		  <%= 
		  	form_tag( item_question_path(relation.item.id, answer.question.id), method: :patch) do 
		  %>

		  <%= hidden_field_tag :answer_id, answer.id %>
		  <%= hidden_field_tag :is_validated, false %>
		  <%= submit_tag "Invalid Answer", class: "btn btn-default" %>
	  	<% end %>

		<% else %>
			<p>You've already marked this answer as: <%= answer.is_validated %></p>
		<% end %>
		<hr>
	<% end %>

	<% if relation.item.questions.length < 3 %>

		<p>
	  	Ask at the most three (3) precise things for <b><%= relation.item.owners.first.user.name %></b> to validate the ownership of the object.
	  </p>

	  <%= link_to "Create questions", item_relation_path(relation.item.id, Relation.get_by_userid_and_itemid(relation.item.owners.first.user.id, relation.item.id)[0])
	  %>

	<% else %>
		<p><b>Questions already created for ownership validation.  Limit reached (3/3)</b></p>
		

	<% end %>

<% else %>

	<!-- existe relaciones de otros usuarios con mis reportes -->
  <!-- evaluar si el item fue reportado perdido o encontrado por mi -->
  <!-- ESTO YA ESTA HECHO EN OTRA LISTA! -->

	<p>
    <b><%= relation.item.name %></b> you reported 
    <b>lost </b> on
    <b><%= relation.item.created_at.strftime("%m/%d/%Y at %I:%M%p") %></b>
  </p>

  <% relation.item.founders.each do |founder| %>
    <p>Appears to have been found by:</p>
    <p><b><%= founder.user.name %></b></p>
    <p>Contact him in:
      <b><%= founder.user.email %></b>
    </p>
		<% if relation.item.questions.any? %>
			<hr>
      <h4>There are questions for you to validate your ownership...</h4>
        <% relation.item.questions.each_with_index do |question, i| %>
          <div>
            <p>Question <%= i + 1 %>: <b><%= question.name %></b></p>
            <% if question.already_answerd?(current_user.id) %>
	            <p><b>Your answer was:</b></p>
	            <p><%= question.get_answer_by_user_id(current_user.id) %></p>
	           
						<% if question.is_answer_validated?(current_user.id).nil? %>
							<p><b><%= founder.user.name %> have not validated your answer yet.</b></p>	
						<% else %>
							<p>
								<b>
									<%= founder.user.name %> said your answer is: 
									<%= question.is_answer_validated?(current_user.id) %>
								</b>
							</p>	
            <% end %>

            <% else %>

            <%= form_tag item_answer_path(relation.item, relation) do %>
            <div class="form-group">
              <%= label :answer, "Answer:" %>
              <%= text_area_tag :answer, nil, class: "form-control" %>
            </div>
            <%= hidden_field_tag :question_id, question.id %>
            <%= submit_tag "Answer question", class: "btn btn-default" %>
            <% end %>
            <% end %>
          </div>
          <hr>
        <% end %>

					<% if relation.item.owners.first.user.answers.any? %>
	        	<%
							if Answer.validate_all_by_userid_and_relationid(
								 relation.item.owners.first.user.id,
								 relation.item.owners.first.user.answers.first.relation_id)
						%>

						<%#= submit_tag "Claim Item!", class: "btn btn-default" %>

						<p>
							<b><%= founder.user.name %></b> validated all your answers. It appears that you recovered <b><%= relation.item.name %>!</b><br><br>To colect your belongings contact: 
							<b><%= founder.user.email %></b>
						</p>
						<% else %>
						<p>
							Unfortunately <b><%= founder.user.name %></b> (email: <b><%= founder.user.email %></b>) has not validated all your answers. It appears that <b><%= relation.item.name %></b> does not belong to you.   
						</p>
						<% end %>
					<% end %>

      <% else %>
      <p>There are NO questions for you</p>
      <p>Request them to the founder of your object...</p>
    <% end %>
  <% end %>
<% end %>


