<%= form_for(:item, url: items_path) do |f| %>

<%= f.hidden_field(:state, value: "Lost") %>
<div class="form-group">
  <%= f.label :name, "Product Name" %>
  <%= f.text_field :name, placeholder: "Ej. Passport", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :datetime, "Date when I lost the object" %>
  <%= f.date_field :datetime, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :contact_email, "Contact Email" %>
  <%= f.text_field :contact_email, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :category, "Category" %>
  <%= f.text_field :category, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :reward, "I will give to the one that returns this item the following: " %>
  <%= f.text_field :reward, placeholder: "50€", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :description, "Brief description of how you lost your object (if any):" %>
  <%= f.text_area :description, class: "form-control" %>
</div>
<%= f.fields_for :relations do |relation_fields| %>
  <%= relation_fields.hidden_field(:type, value: "Owner") %>
<% end %>
<%= f.submit "Report!", class: "btn btn-default" %>
<% end %>

