<%= form_for @item, url: edit_item_path do |f| %>

  <div class="form-group">
    <%= f.label :reward, "Reward" %>
    <%= f.text_field :reward, placeholder: "E.g. A really big hug", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category, "Category" %>
    <%= f.text_field :category, placeholder: "Please not jewelry...", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Brief description of how you found the object:" %>
    <%= f.text_area :description, placeholder: "If any...", class: "form-control" %>
  </div>

  <%= f.submit "Save", class: "btn btn-success btn-lg pull-right" %>

<% end %>


