<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">

		<h4>Search for a lost item in our database...</h4>
		<hr>
		<h4>List of lost objects</h4>
		<hr>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


		  <div class="panel panel-default">

		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Report Lost Item
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
						<%= render :partial => '/items/report_lost' %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Report Found Item
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		        <%= render :partial => '/items/report_found' %>
		      </div>
		    </div>
		  </div>


		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							List of Requests
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		        <%= render :partial => '/items/requests' %>
		      </div>
		    </div>
		  </div>
		</div>


		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFour">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							All Lost Items
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      <div class="panel-body">

						<!-- build partial with this -->
						<div class="list-group">

							<% @lost_items.each do |item| %>


								<a href=<%= item_path(item) %> class="list-group-item">
								<h4 class="list-group-item-heading">
									<b><span class="item-name"><%= item.name %></span></b>
								</h4>

									<div class="media">
                    <div class="media-left">

                      <img class="media-object" src=<%=item.avatar.url(:thumb)%> alt="...">

                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Media heading</h4>
                      <%= item.name %>
                      <%= item.contact_email %>
                      <%= item.state %>
                      <%= item.reward %>
                      <%= item.latitude %>
                      <%= item.longitude %>
                    </div>
                  </div>

								</a>


							<% end %>


						</div>
		      </div>
		    </div>
		  </div>

	</div>
</div>

