<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<div>
		  <h2>List of requests</h2>
		  <p>All my items that I have reported and have been requested</p>
		  <p>Only requests from other users</p>
		  <div class="list-group">
		  <% @item_requests.each do |ar_relation| %>
		  	<% if ar_relation.any? %>
			  	<% ar_relation.each do |relation| %>
					<div class="list-group-item">
				    <% if relation.item.is_lost? %>
						<% if relation.item.owners.first.user.id == current_user.id %>
						<h3>Tu has perdido un item: <b><%= relation.item.name %></b> </h3>
				    	<% if relation.item.questions.any? %>
				    	<p>There are questions for you to validate your owner ship...</p>
								<% relation.item.questions.each_with_index do |question, i| %>




									<div>
										<p>Question ID <%= question.id %></p>
										<p>Question number <%= i + 1 %>: <b><%= question.name %></b></p>
										<% if question.already_answerd?(current_user.id) %>
										<p>You already have answered that question</p>
										<p><b>Your answer was:</b></p>
										<p><%= question.get_answer_by_user_id(current_user.id) %></p>
										<% else %>
										<%= form_tag item_answer_path(relation.item, relation) do %>
										<div class="form-group">
							        <%= label :answer, "Answer..." %>
							        <%= text_area_tag :answer, nil, class: "form-control" %>
							      </div>
							      <%= hidden_field_tag :question_id, question.id %>
							      <%= submit_tag "Answer question", class: "btn btn-default" %>
							      <% end %>
										<% end %>
									</div>
									<hr>



									<%# = link_to question.name, "#"%>
								<% end %>
				    	<% else %>
				    	<p>There are NO questions for you</p>
				    	<p>Request them to the founder of your object...</p>
				    	<% end %>
						<% else %>
						<%= relation.item.owners.first.user.name %>
						<p>Ha perdido: <%= relation.item.name %></p>
						<% end %>
						<% if relation.item.founders.first.user.id == current_user.id %>
				    <p>Tu lo has encontrado</p>
				    <p>Make some questions about the item to validate if true ownership</p>
						<%= link_to "Validate Ownership", item_relation_path(relation.item.id,
							Relation.get_by_userid_and_itemid(relation.item.owners.first.user.id, relation.item.id)[0])
						%>
				  	<% end %>
				  	<% end %>





				  	<% if relation.item.is_found? %>
						<p>Relation ID: <b><%= relation.id %></b></p>
				    <p>Item reported: <b><%= relation.item.state %></b></p>
				    <p>By: <b><%= relation.item.founders.first.user.name %></b></p>
						<hr>
							<!-- if the founder of the item is me I have to authenticate -->
					    <% if relation.item.founders.first.user.id == current_user.id  %>
						    <% relation.item.owners.each do |owner| %>
							    <p>Appears to have been lost by:</p>
							    <p><b><%= owner.user.name %></b></p>
							    <p>Contact him in:
							    	<b><%= owner.user.email %></b>
							    </p>
							    <p><%= owner.user.id %></p>
							    <p>Item name: <%= relation.item.id %></p>
							    <p>Validate this relationship:</p>
							    <p>
								    <%=
								    	Relation.get_by_user_and_item(owner.user.id, relation.item.id)[0].id
								    %>
							    </p>
									<%= link_to "Validate Ownership", item_relation_path(relation.item.id,
										Relation.get_by_user_and_item(owner.user.id, relation.item.id)[0])
									%>
							  <% end %>
							<% else %>
								<p>You can't validate a item that is not found by you</p>
						  <% end %>
						<% end %>
				  </div>
				  <% end %>
			  <% end %>
		  <% end %>
		  </div>
		</div>
	</div>
</div>

