<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<div>
		  <h2>Choose report</h2>
		  <p>Lost / Found / I no longer need this... / I am in the need of...</p>
		  <%# = render :partial => '/items/report_lost' %>
		  <%# = render :partial => '/items/report_found' %>
		</div>
		<hr>
		<div>
		  <h2>List of requests</h2>
		  <p>All my items that I have reported and have been requested</p>
		  <p>Only requests from other users</p>
		  <div class="list-group">
		  <% @my_relations.each do |rel| %>
				<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">User Name: <b><%= rel.user.name %></b></h4>
			  </a>
		  <% end %>
		  </div>
		</div>
		<hr>
		<div>
		  <h2>List of my reports</h2>
		  <p>All my items reported here lost & found</p>
		  <p>Normally this should be a short list</p>
		  <div class="list-group">
		  <% @my_relations.each do |relation| %>
				<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Item: <b><%= relation.item.name %></b></h4>
					<p class="list-group-item">State: <b><%= relation.item.state %></b></p>
					<p class="list-group-item">Match Numbers: <b><%= relation %></b></p>
			  </a>
		  <% end %>
		  </div>
		</div>
		<hr>
		<div>
		  <h2>List of lost reported objects</h2>
		  <p>All items reported lost / later the nearby should be placed here</p>
		</div>
		<div class="list-group">
			<% @other_relations.each do |relation| %>
			  <a href=<%= item_path(relation.item) %> class="list-group-item">
			    <h4 class="list-group-item-heading">Item: 
			    	<b><span class="item-name"><%= relation.item.name %></span></b>
			    </h4>
			    <p class="list-group-item">Contact Email: <b><%= relation.item.contact_email %></b></p>
			    <p class="list-group-item">State: <b><%= relation.item.state %></b></p>
			    <p class="list-group-item">Reward: <b><%= relation.item.reward %></b></p>
			    <p class="list-group-item">Coordinates - Lat: 
			    	<b><span class="item-latitude"><%= relation.item.latitude %></span></b> / 
			    	Lon: <b><span class="item-longitude"><%= relation.item.longitude %></span></b>
			    </p>
			  </a>
			<% end %>
		</div>
		<div>

		<!--
			<div id="map-container"></div>
		-->

		</div>
		<hr>
	</div>
</div>

