<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
				<div class="big-image-logo">
					<img src="https://dl.dropboxusercontent.com/u/10924302/recover-me/logo.png" alt="Owmi Logo" class="img-responsive">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
				<%= render :partial => '/items/search_form' %>
			</div>
		</div>

		<div class="panel-group main-panel" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          <span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span>
	          Report <b>Lost Object</b>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
					<%= render :partial => '/items/report_lost' %>
	      </div>
	    </div>
	  </div>


	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        	<span class="glyphicon glyphicon-lock pull-right" aria-hidden="true"></span>
	          Report <b>Found Object</b>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        <%= render :partial => '/items/report_found' %>
	      </div>
	    </div>
	  </div>


	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	        	<span class="glyphicon glyphicon-comment pull-right" aria-hidden="true"></span>
						<b>Ownership</b> Validations
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        <%= render :partial => '/items/requests' %>
	      </div>
	    </div>
	  </div>

		<div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFour">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	        	<span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
						All <b>Lost Items</b>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
					<%= render :partial => '/items/all_items' %>
	      </div>
	    </div>
	  </div>


	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFifth">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
	        	<span class="glyphicon glyphicon-question-sign pull-right" aria-hidden="true"></span>
						My Lost <b>Objects Reported</b>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFifth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifth">
	      <div class="panel-body">
					<%= render :partial => '/users/my_lost_objects' %>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingSixth">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth">
	        	<span class="glyphicon glyphicon-info-sign pull-right" aria-hidden="true"></span>
						My Found <b>Objects Reported</b>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSixth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixth">
	      <div class="panel-body">
					<%= render :partial => '/users/my_found_objects' %>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
</div>

