<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<div>
		  <h2>Choose report</h2>
		  <p>Lost / Found / I no longer need this... / I am in the need of...</p>
		</div>
		<hr>
		<div>
		  <h2>List of my reports</h2>
		  <p>All my items reported here lost & found</p>
		  <p>Normally this should be a short list</p>
		  <div class="list-group">
		  <% @my_items.each do |my_item| %>
				<a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Item: <b><%= my_item.name %></b></h4>
			    <p class="list-group-item">State: <b><%= my_item.state %></b></p>
			    <p class="list-group-item">Reward: <b><%= my_item.reward %></b></p>
			  </a>
		  <% end %>
		  </div>
		</div>
		<hr>
		<div>
		  <h2>List of lost reported objects</h2>
		  <p>All items reported lost / later the nearby should be placed here</p>
		</div>
		<div class="list-group">
			<% @other_items.each do |item| %>
			  <a href=<%= item_path(item) %> class="list-group-item">
			    <h4 class="list-group-item-heading">Item: <b><span class="item-name"><%= item.name %></span></b></h4>
			    <p class="list-group-item">Contact Email: <b><%= item.contact_email %></b></p>
			    <p class="list-group-item">State: <b><%= item.state %></b></p>
			    <p class="list-group-item">Reward: <b><%= item.reward %></b></p>
			    <p class="list-group-item">Coordinates - Lat: 
			    	<b><span class="item-latitude"><%=item.latitude%></span></b> / 
			    	Lon: <b><span class="item-longitude"><%=item.longitude%></span></b>
			    </p>
			  </a>
			<% end %>
		</div>
		<div>
			<div id="map-container"></div>
		</div>
		<hr>
	</div>
</div>