<p>Item Show</p>
<h2>Name: <%= @item.name %></h2>
<p>State: <%= @item.state %></p>
<p>Description: <%= @item.description %></p>
<p>Coords Lat: <%= @item.latitude %></p>
<p>Coords Lon: <%= @item.longitude %></p>
<p>Contact Email: <%= @item.contact_email %></p>
<p>Reward: <%= @item.reward %></p>
<p>Category: <%= @item.category %></p>
<p>Created At: <%= @item.created_at %></p>
<p>Updated At: <%= @item.updated_at %></p>