<h2 class="registration-main-title">Welcome <%= current_user.name %>! </h2>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= link_to image_tag("btnPerdi.png", size: "160x80", class: "index-btns"), items_path %>
    <p>Lorem impuksj kajd ks akdajsdk qiweuq iuis site amte.</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <%= image_tag("btnEncontre.png", size: "160x80", class: "index-btns") %>
    <p>Lorem impuksj kajd ks akdajsdk qiweuq iuis site amte.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= image_tag("btnObjetosQPerdido.png", size: "160x80", class: "index-btns") %>
    <p>Lorem impuksj kajd ks akdajsdk qiweuq iuis site amte.</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <%= image_tag("btnObjetosQEncontrado.png", size: "160x80", class: "index-btns") %>
    <p>Lorem impuksj kajd ks akdajsdk qiweuq iuis site amte.</p>
  </div>
</div>

<h2 class="registration-main-title">My reports</h2>
<p>(matches nuevos puede ir aqui... info) </p>