<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<div class="page-header">
		  <h2>List of Objects</h2>
		</div>
		<div class="list-group">
			<% @items.each do |item| %>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Item: <b><%= item.name %></b></h4>
			    <p class="list-group-item">Date: <b><%= item.datetime %></b></p>
			    <p class="list-group-item">Category: <b><%= item.category %></b></p>
			    <p class="list-group-item">Reward: <b><%= item.reward %></b></p>
			    <p class="list-group-item">Contact Email: <b><%= item.contact_email %></b></p>
			    <p class="list-group-item">Latitude: <b><%= item.latitude %></b></p>
			    <p class="list-group-item">Longitude: <b><%= item.longitude %></b></p>
			    <p class="list-group-item">State: <b><%= item.state %></b></p>
			  </a>
			<% end %>
		</div>
	</div>
</div>