<!DOCTYPE html>
<html>
<head>
  <title>RecoverMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- 
	default navbar bootstrap
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">

  	<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= root_path.to_s %>>Brand</a>
      <div class="container">
        <%= 
					link_to "Report Lost Object", new_item_path+"?reporting=lost", id: "report-lost-object", class: "btn btn-default navbar-btn" 
				%>
				<%= 
					link_to "Report Found Object", new_item_path+"?reporting=found", id: "report-lost-object", class: "btn btn-default navbar-btn" 
				%>
      </div>
    </div>
    <!-- -->

  </div>
</nav>
<%= yield %>
</body>
</html>
